 .u-section-1 {
  background-image: linear-gradient(white, white);
  min-height: 578px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 431px);
  height: 427px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 130px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 385px;
  height: 385px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -427px calc(((100% - 1140px) / 2) + -259px) 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 243px;
  height: 243px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -510px calc(((100% - 1140px) / 2) + 346px) 0 auto;
}

.u-section-1 .u-group-elements-1 {
  width: 655px;
  min-height: 476px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -215px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  --radius: 17px;
  background-image: none;
  box-shadow: -2px 5px 13px 0px rgba(128,128,128,1);
  height: auto;
  min-height: 476px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  margin: 0 9px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -381px auto 0 9px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 9px 0 0 16px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: 9px 25px 0 15px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 228px 9px 0 auto;
  padding: 10px 57px 10px 55px;
}

.u-section-1 .u-gallery-1 {
  height: 464px;
  width: 395px;
  margin: -470px calc(((100% - 1140px) / 2) + 16px) 60px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
  --radius: 16px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  --radius: 16px;
  right: -37px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 431px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + -259px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2) + 346px);
  }

  .u-section-1 .u-group-elements-1 {
    width: 579px;
    min-height: 470px;
    margin-top: -194px;
    margin-left: calc(((100% - 940px) / 2) + -34px);
  }

  .u-section-1 .u-group-1 {
    min-height: 470px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 159px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 237px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -484px;
    margin-right: calc(((100% - 940px) / 2) + 16px);
  }

  .u-section-1 .u-carousel-control-1 {
    top: auto;
    bottom: -253px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 632px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 431px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + -259px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 346px);
  }

  .u-section-1 .u-group-elements-1 {
    width: 352px;
    min-height: 538px;
    margin-top: -230px;
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }

  .u-section-1 .u-group-1 {
    min-height: 539px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 258px;
    margin-right: 34px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -481px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -7px;
    margin-right: 22px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-right: 46px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 244px;
    margin-right: 28px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -502px;
    margin-right: calc(((100% - 720px) / 2) + -30px);
  }

  .u-section-1 .u-carousel-control-1 {
    left: -27px;
    width: 27px;
    height: 27px;
    top: 229px;
    padding: 6px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 27px;
    height: 27px;
    top: 229px;
    right: -27px;
    padding: 6px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1048px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 431px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + -259px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2) + 297px);
  }

  .u-section-1 .u-group-elements-1 {
    width: 537px;
    min-height: 535px;
    margin-top: -252px;
    margin-left: calc(((100% - 540px) / 2) + -24px);
  }

  .u-section-1 .u-group-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -420px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 233px;
    margin-right: 32px;
  }

  .u-section-1 .u-gallery-1 {
    margin: 39px auto 14px calc(((100% - 540px) / 2) + 61px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 12px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + -259px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 340px) / 2) + 97px);
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    min-height: 571px;
    margin-top: -258px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 5px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 262px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-top: 40px;
    margin-bottom: -122px;
    margin-left: calc(((100% - 340px) / 2));
  }
}